@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-green: #5A8F2B;
  --secondary-orange: #F36B21;
  --secondary-orange-lite: #ff975e;
  --accent-yellow: #F2C94C;
  --background-light: #f6f6ec;
  --text-dark: #1F2933;
  --text-gray: #4B5563;

   --primary-greenn: #c7eba7;
}